# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo

# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# MkDocs
site/

# Node (if added later)
node_modules/
npm-debug.log
yarn-error.log
.env
