site_name: Brygd Ledningssystem
site_description: Ledningssystem för bryggeri
site_author: Brygd
repo_url: https://github.com/ollecwes/bryggeriledning
repo_name: bryggeriledning

theme:
  name: material
  language: sv
  palette:
    # Light mode
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Byt till mörkt läge
    # Dark mode
    - scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Byt till ljust läge
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search
  - tags:
      tags_file: tags.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
